<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>Recipe List</title>
    <link href="./styles.css" rel="stylesheet">
  </head>
  <body style = text-align:center>
    <div>
    <h1>
        Recipes You Can Make
    </h1>
    <div id = 'list' style="list-style-type:none;"></div>
    <script>
        var hits;
        fetch('http://localhost:3000/idk')
        .then(
            function(a){
                return a.json()
            }
        ).then(
            function(data){
                hits = data
                var str = ' ';
                hits.forEach(function(list) {
                str += `<li><a href= ${list.recipe.url} onClick = post(e)>${list.recipe.label}
                    <img src=${list.recipe.image} height = 10% width = 10%> </a></li>`;
                }); 
                document.getElementById('list').innerHTML = str;
                function post(e){
                    fetch('/clear')
                }
            }
        ).catch(
            function(error){
                console.log(error)
        });

        
    </script>
    </div>
  </body>
</html>